body{
    margin: 0;
}
.about_us{
    margin: 10% 10% 3% 15%;
}
.first_person, .second_person, .third_person{
    background-color: #eeeeee;
    width: 25%;
    border-radius: 5%;
    border: 1px solid #e0e0e0;
    padding: 3% 0 0 0;
    position: relative;
    display: inline-block;
    margin: 0 3% 0 3%;
}

.first_photo, .second_photo, .third_photo{
    border-radius: 50%;
    border: 1px solid black;
    width: 30%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
p{
    text-align: center;
    font-size: 115%;
}
h1 {
    text-align: center;
    font-size: 200%;
    margin: 5% 0 0 0;
}
h2 {
    font-size: 150%;
    text-align: center;
    margin-top: 3%;
    font-style: italic;
    color: darkred;
}
.personalink{
    width: 10%;
    border: none;
}
.personal_info{
    text-align: center;
    padding-left: 30%;
    font-size: 120%;
    text-decoration: none;
}
.personal_info a:hover,a:visited {
    text-decoration: none;
    color: black;
}
.gallery{
    background-color: #eeeeee;
    width: 100%;
}
.gallery-wrap{
    display: inline-block;
    padding-left: 15%;
}
.pic_inside_gallery{
    display: inline-block;
    width: 60%;
    margin: 5%;
    position: relative;
}
.Pics{
    display: inline-block;
    width: 30%;
}
.pic_inside_gallery_link{
    position: relative;
    bottom: 120px;
    right: 200px;
    padding: 3%;
    content: "Instagram";
    color: black;
    cursor: pointer;
    border: 1px solid white;
}
.pic_inside_gallery_link::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: 0.3s;
    z-index: -1;
    background: transparent;
    opacity: .6%;
}